.row{color: #fff;}
.row_title{padding: 20px;font-size: 24px; font-weight: bold;}
.slider{position: relative;}


.row__posters{position: absolute; display:flex; padding: 0; overflow-x :scroll ; scroll-behavior: smooth;}
.row__posters::-webkit-scrollbar{display:none}
.row__poster{width: 100%; height: 100%;min-height: 360px; object-fit:cover; border-radius: 4px; transition: transform 450ms linear 0s;}

.row__posterLarge{max-height: 320px;}


.slider__arrow{visibility: hidden; z-index: 1000 ;position: absolute; top: 0; width: 80px;height: 100%;cursor: pointer; padding: 20px 0; box-sizing: border-box; display:flex; justify-content: center;align-items: center;transition: all 400ms ease-in-out 0s;}

.left{left: 0;}
.right{right: 0;}

.swiper-button-prev::after{transition: all 400ms ease-in-out 0s;}
.swiper-button-prev:hover::after{transform: scale(1.5);}

.swiper-button-next::after{transition: all 400ms ease-in-out 0s;}
.swiper-button-next:hover::after{transform: scale(1.5);}

.slider:hover .slider__arrow{visibility: visible;}
.slider__arrow:hover{background: rgba(20,20,20,0.5);}


@media screen and (min-width: 1200px) {
  .row__poster{max-height: 160px;}
  .row__posterLarge{max-height: 360px}
}

@media screen and (max-width: 768px){
  .row__poster{max-height: 100px;}
  .row__posterLarge{max-height: 280px}
}


/* swiper */

.swiper-button-prev{color: #fff !important; }
.swiper-button-next{color: #fff !important; }
.swiper-button-prev:after, .swiper-button-next:after{
  font-size: 1.3rem !important; font-weight: 600 !important}

.swiper-pagination{pointer-events: none; ;text-align: right !important}
.swiper-pagination-bullet{background: gray !important; opacity: 1 !important}
.swiper-pagination-bullet-active{background-color: #fff !important}


.swiper_wrapper{height: 100%;}

.movie__poster-container{position: relative; width: 100%; transition: all 0.5s ease-out; overflow: hidden; }
.movie__poster-container.on{z-index: 999;}


.movie__poster-container .poster-detail-text{position: absolute;z-index: 200;bottom: -100%;width: calc(100% - 40px); padding: 20px; pointer-events: none; visibility: hidden; transition: all 0.3s ease-in}

.movie__poster-container.on .poster-detail-text{bottom: 20px;width: calc(100% - 40px); padding: 20px;visibility: visible;}
.movie__poster-container.on .poster-detail{transition: all 0.3s ease}
.movie__poster-container.on .poster-detail:before{content:''; z-index: 100;position: absolute;top: 0;bottom: 0;right: 0; left: 0; background: rgba(0,0,0,0.8)}

iframe{pointer-events: auto;z-index: -10;}

.movie-detail-trailor{position: absolute;top: 0;width: 100%;z-index: 200;}
.poster-detail-btnbox{position: relative; transition: all 0.3s ease-in}

.movie__poster-container.on .detail-button{visibility: visible;opacity: 1;bottom: 20px;}


.poster-detail-btnbox{position: absolute; width: calc(100% - 40px);bottom: 0px; display:flex; justify-content: space-between; pointer-events: all;}